@import "null_style.scss";
@import "../source/fonts.scss";
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(100px, auto) / 1fr;
    grid-template-areas: "header" "main" "footer";
    
}
@import "../source/all_site_styles/header__style.scss";
@import "../source/all_site_styles/main__style.scss";
@import "../source/all_site_styles/footer__style.scss";
@import "../source/burger.scss";
